<% include partials/header %>
<link rel="stylesheet" href="stylesheets/register.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<div class="page">
    <div class="signup">
        <div class="details">
            <div class="welcome">Inotel</div>
            <div class="start">Create your Inotel Account</div>
            <div class="cnt">to continue to Inotel</div>
            <div class="credentials">
                <form action="/register" method="POST"><br>
                    <input class="inps" type="text" name="fname" placeholder="First name">
                    <input class="inps" type="text" name="lname" placeholder="Last name">
                    <br><br>
                    <!-- <label for="gender">Gender</label> -->
                    <select class="drop" name="gender" id="" placeholder="Gender">
                        <option value="male" selected>Male</option>
                        <option value="female">Female</option>
                    </select>
                    <input class="inps1" type="text" name="username" placeholder="Username">
                    <label for="inps1">You can use letters,numbers &periods</label>
                    <input class="inps" type="password" name="password" placeholder="Password">
                    <input class="inps" type="password" name="cnfpass" placeholder="Confirm Password">
                    <div class="abtn">
                        <div class="f1"><a class="anc" href="/login">Sign In Instead</a></div>
                        <div class="f2"><button class="btn">Sign Up</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="logo" >
        <div style="background-image: url(http://www.logospng.com/images/183/account-free-interface-icons-183377.png)"></div>
    </div>
</div>
<% include partials/footer %>