body
{
    background-color: rgba(108, 119, 112, 0.7);
    font-family: 'Roboto', sans-serif;
}   
.dash
{
    width:800px;
    height:800px;
    margin: 150px auto;
    background-color: white;
}
.prof-img
{
    width:200px;
    height:200px;
    margin: auto;
    /* border: 2px solid red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
}
.head
{
    font-size: 23px;
    text-align: center;
    color:#696969;
}