.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
#delete-form
{
    display: inline;
}
.flash
{
    margin:auto;
    width:500px;
}
.no-like
{
    font-size:25px;
    color:grey;
}
.like
{
    font-size:25px;
    color:#0084ff;
}
.like-butt
{
    background:none;
    border: none;
}